a.styleguide-box-arrow {
  color: #2a2b2c;
  display: block;
  border: 1px solid grey;
  font-size: 24px;
  line-height: 49px;
  padding: 20px;
  align-items: center;
  font-family: Source Sans Pro Semibold;
  margin-right: 12px;
  margin-bottom: 26px;
}

a.styleguide-box-arrow-small {
  color: #2a2b2c;
  display: block;
  border: 1px solid grey;
  font-size: 24px;
  line-height: 49px;
  height: 80px;
  padding-left: 38px;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  font-family: Source Sans Pro Semibold;
}

.styleguide-box-arrow-title{
  text-align: left;
  line-height: 28px;
  max-width: 216px;
}

.style-guide-arrow {
  margin-right: 27px;
  margin-left: auto;
}

.styleguide-box-arrow-image {
  max-width: 217px;
  width: 100%;
  margin: 44px 36px 30px 36px;
}

.image-center {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px;

  img {
    width: 150px;
  }
}

.styleguide-box-arrow {
  bottom: 16px;
  
}