.box-arrow {
  border: 1px solid grey;
  font-size: 24px;
  line-height: 49px;
  padding-left: 23px;
  align-items: center;
  font-family: Source Sans Pro Semibold;
  margin-right: 12px;
  margin-bottom: 26px;
  min-width: 289px;
  min-height: 289px;
}

.box-arrow-small {
  border: 1px solid grey;
  font-size: 24px;
  line-height: 49px;
  height: 80px;
  padding-left: 38px;
  align-items: center;
  display: flex;
  font-family: Source Sans Pro Semibold;
}

.box-arrow-title{
  text-align: left;
  max-width: 170px;
  line-height: 28px;
}

.style-guide-arrow {
  margin-right: 27px;
  margin-left: auto;
}

.box-arrow-image {
  max-width: 217px;
  width: 100%;
  margin: 44px 36px 30px 36px;
}

.image-center {
  width: 100%;
  margin: auto;

  img {
    width: 200px;
  }
}

.box-arrow {
  bottom: 16px;
  
}