.ColorBox {
  padding: 40px 30px;
  margin-bottom: 30px;
  cursor: pointer;

  strong {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  }

  &.sm {
    height: 354px;
    padding: 23px 30px;
    display: flex;
    flex-direction: column;

    .ColorBox-name {
      margin-bottom: 160px;
    }

    .ColorBox-props {
      margin-top: auto;
    }
  }
}

.ColorBox-name {
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-bottom: 270px;
}

.ColorBox-props {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.ColorBox-modal {
  .modal-content {
    background: transparent;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .modal-header {
    border-radius: 0;
    border-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  p {
    margin-bottom: 0;
  }
}

.ColorBox-modal-copy {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #ffffff;

  strong {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
}
