.ColorBox {
  padding: 40px 30px;
  margin-bottom: 30px;
  cursor: pointer;

  strong {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  }

  &.sm {
    height: 354px;
    padding: 23px 30px;
    display: flex;
    flex-direction: column;

    .ColorBox-name {
      margin-bottom: 160px;
    }

    .ColorBox-props {
      margin-top: auto;
    }

    
  }
}

.ColorBox-name {
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-bottom: 270px;
}

.ColorBox-props {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
