// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .styleguide-page .top_nav .icon-arc-logo {
        font-size: 30px;
    }

    .flex_side_sticky {
        display: none;
    }

    .styleguide-page .styles-top-menu {
        margin: auto;
        width: 56%;
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  
 }

