.term-def {
  margin: 60px auto;
}

.term-item {
  width: 137px;
}

.term-defintion {
  width: 666px;
  ul li {
    color: #6d6e71;
  }
}

.term-def-large {
  color: #189bb0 !important;
  font-size: 30px !important;
  font-family: $arc-font-semibold;
}
