.incorrect, .correct {
    border: 1px solid grey;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.term-usage-copy {
    margin-left: 58px;
}

.incorrect-bar, .correct-bar {
    margin: auto;
    max-width: 400px;
    width: 100%;
    min-height: 12.35px;
    margin-top: 20px !important;

}

.bottom-area {
    margin: auto;
    max-width: 400px;
    width: 100%;
}

.term-type {
    margin: auto;
}

.term-explaination {
    margin: auto;
}

.incorrect-bar {
    background-color: #E90C0C;
}

.correct-bar {
    background-color: #8AC926;
}