.term-usage-block {
  margin-top: 30px;
  margin-bottom: 60px;

  .incorrect,
  .correct {
    padding-top: 30px;
    border: 1px solid grey;
    min-width: 400px;
    width: 100%;
    min-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .term-usage-copy {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;

    max-width: 290px;
    width: 100%;
  }

  .incorrect-bar,
  .correct-bar {
    width: 100%;
    min-height: 12px;
    margin-bottom: 15px !important;
  }

  .bottom-area {
    min-width: 400px;
    width: 100%;
  }

  .term-type {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;

    font-size: 28px;
    line-height: 32px;
    margin-top: 10px;
  }

  .termusage-header {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 46px;
    color: #222;
  }
  .termusage-sub {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 40px;
    color: #222;
  }
  .termusage-p {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #222;
  }

  .termusage-semibold-lorem {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  }

  .incorrect-bar {
    background-color: #e90c0c;
  }

  .correct-bar {
    background-color: #8ac926;
  }
}

.term-usage-block-img {
  .incorrect,
  .correct {
    padding-top: 0;
  }
  .term-usage-copy {
    max-width: 100%;
  }
}

.term-usage-writing {
  .correct,
  .incorrect {
    min-height: unset;
  }
}