@import "./partials/boxarrow";
@import "./partials/termusage";
@import "./partials/termdef";
@import "./partials/bottompagenav";
@import "./partials/sticky";

@import "./partials/buttonbox";
@import "./partials/docs";
@import "./partials/logo";
@import "./partials/colorbox";
@import "./partials/modal";

@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@400;&display=swap");

#app {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
}

.styleguide-page {
  .flex_container {
    display: flex;
    //max-width: 1449px;
    width: 100%;
    margin: auto;
  }

  .top_nav {
    height: 110px;
    //width: 1449px;
    background-color: #1a9cb1;
    margin: auto;
    display: flex;
    align-items: center;

    .icon-arc-logo {
      font-size: 60px;
      color: white;
      margin-left: 26px;
    }
  }

  .styles-top-menu {
    flex-direction: row;
    align-items: end;
    display: flex;
    margin-left: auto;
    margin-right: 189px;
    justify-content: space-evenly;
    height: 100%;
    width: 33%;
    align-content: center;

    ul {
      margin: 0;
      color: #ffffff;
      font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 25px;
    }

    .inactive {
      border-top: 5px solid #1a9cb1;
      border-bottom: 5px solid #1a9cb1;
      padding-bottom: 30px;
    }

    .active {
      border-top: 5px solid #1a9cb1;
      border-bottom: 5px solid white;
      padding-bottom: 30px;
    }
  }

  .flex_side_sticky {
    width: 278px;
    border: 1px solid #e0e0e0;
    background: #fff;
  }

  .nav-menu {
    margin-left: 24px;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
  }

  .style-main-item,
  .style-main-item a {
    color: #2a2b2c;
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 30px;
  }

  .style-sub-item,
  .style-sub-item a {
    color: #6d6e71;
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
  }

  .style-main-item a,
  .style-sub-item a {
    &:hover {
      color: #189bb0;
    }
  }

  .flex_right_content {
    flex: 1;

    //background: lightgreen;
  }

  .masthead-landing {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 48px;
  }

  .style-guide-h2 {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .content-area {
    justify-content: center;
    max-width: 920px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto 60px;

    h1 {
      font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
      font-size: 66px;
    }
  }

  .our-brand-subtitle {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 28px;
  }
  // Writing style guide
  .inner-document-names {
    margin-top: 30px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    min-width: 400px;
    width: 100%;
  }
  .inner-document-list {
    max-width: 290px;
    width: 100%;
  }
  .inner-document-casing {
    margin-bottom: 60px;
  }
}
.term-usage-copy strong {
  font-family: SourceSansPro-Bold, arial, Helvetica, sans-serif;
  font-weight: normal;
}
.term-usage-copy h6 {
  text-transform: none;
}
.term-usage-li {
  margin-bottom: 20px;
}

.colorAccordion {
  .transitionRow {
    transition: all 0.3s ease-out;
  }

  &.hover .col-lg-3 .ColorBox-props {
    font-size: 16px;
  }
}

.typography-block {
  color: #ffffff;
  background: #189bb0;
  padding: 56px 50px;
  font-size: 18px;

  p {
    color: #ffffff;
    margin-bottom: 30px;
  }

  .typography-block-black {
    font-family: SourceSansPro-Black, Arial, Helvetica, sans-serif !important;
  }
  .typography-block-bold {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif !important;
  }
  .typography-block-semibold {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif !important;
  }
  .typography-block-light {
    font-family: SourceSansPro-Light, Arial, Helvetica, sans-serif !important;
  }
  .typography-calibri {
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  .typography-calibri-semibold {
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .typography-calibri-light {
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    font-weight: 200;
  }

  .typography-calibri-light,
  .typography-calibri-semibold {
    font-size: 16px;
  }
  .typography-arial-black {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
  }
}

.typography-block-header {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  color: #2a2b2c;
  margin-bottom: 7px;
  font-size: 21px;
}

.typography-block-subheader {
  color: #2a2b2c;
  margin-bottom: 7px;
}

.proportion-block-container {
  width: 921px;
  margin: 25px auto 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.proportion-block {
  height: 361px;
  margin-bottom: 15px;
}

.proportion-block-1 {
  background: #189bb0;
}

.proportion-block-2 {
  background: #2a2b2c;
}

.proportion-block-3 {
  background: #d4d4d4;
}

.proportion-block-4 {
  background: #ff1b71;
}

.proportion-block-small {
  width: 200px;
  height: 80px;
  margin-bottom: 15px;
  margin-right: 74px;
}

.proportion-block-smaller {
  width: 100px;
  height: 40px;
  margin-bottom: 15px;
  margin-right: 51px;
}

.proportion-block-5 {
  background: #316677;
}

.proportion-block-6 {
  background: #c6b593;
}

.proportion-block-7 {
  background: #6d6e71;
}

.proportion-block-8 {
  background: #383552;
}

.proportion-block-9 {
  background: #f77f00;
}

.proportion-block-10 {
  background: #8ac926;
}

@import "./partials/responsive";
