@import "./partials/boxarrow";
@import "./partials/termusage";
@import "./partials/termdef";
@import "./partials/bottompagenav";

@import "./partials/buttonbox";
@import "./partials/docs";
@import "./partials/logo";
@import "./partials/colorbox";

#app {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
}

.styleguide-page {
  .flex_container {
    display: flex;
    //max-width: 1449px;
    width: 100%;
    margin: auto;
  }

  .top_nav {
    height: 110px;
    //width: 1449px;
    background-color: #1a9cb1;
    margin: auto;
    display: flex;
    align-items: center;

    .icon-arc-logo {
      font-size: 60px;
      color: white;
      margin-left: 26px;
    }
  }

  .styles-top-menu {
    flex-direction: row;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 189px;
    justify-content: space-evenly;
    height: 100%;
    width: 33%;
    align-content: center;

    ul {
      margin: 0;
      color: #ffffff;
      font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 25px;
    }
  }

  .flex_side_sticky {
    width: 278px;
    border: 1px solid #e0e0e0;
    background: #fff;
  }

  .nav-menu {
    margin-left: 24px;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
  }

  .style-main-item,
  .style-main-item a {
    color: #2a2b2c;
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 30px;
  }

  .style-sub-item,
  .style-sub-item a {
    color: #6d6e71;
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
  }

  .style-main-item a,
  .style-sub-item a {
    &:hover {
      color: #189bb0;
    }
  }

  .flex_right_content {
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
    //background: lightgreen;
  }

  .masthead-landing {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 48px;
  }

  .style-guide-h2 {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .content-area {
    justify-content: center;
    max-width: 920px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto 60px;
  }
  // Writing style guide
  .inner-document-names {
    margin-top: 30px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 360px;
    min-width: 400px;
    width: 100%;
  }
  .inner-document-list {
    max-width: 290px;
    width: 100%;
  }
  .inner-document-casing {
    margin-bottom: 60px;
  }
}

.colorAccordion {
  .transitionRow {
    transition: all 0.3s ease-out;
  }

  &.hover .col-lg-3 .ColorBox-props {
    font-size: 16px;
  }
}

@import "./partials/responsive";
